.site__main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  
}
.main__run{
  max-width: 700px;
 
  
}
 

.title{
  color: rgb(54, 55, 56);
font-family: Exo 2;
font-size: 52px;
font-weight: 600;
line-height: 125%;
letter-spacing: 0%;
text-align: left;
margin-bottom: 40px;

}
.texst{
  color: rgb(107, 107, 108);
font-family: PT Sans;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
margin-bottom: 20px;
}
.box{
  color: rgb(54, 55, 56);
font-family: PT Sans;
font-size: 16px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}


.box__img{
  max-width: 600px;
  flex-shrink: 0;
  border-radius: 10px;
  margin-top: 75px;

 
}



@media only screen and (max-width:1193px){
  .site__main{
    width: 650px;
    height: 430px;
  }
}

@media only screen and (max-width:1170px){
  .site__main{
    width: 350px;
    height: 250px;
  }
}


// @media only screen and (max-width:px){
//   .site__main{
//     width: 550px;
//     height: 330px;
//   }
// }
